*.iml
.DS_Store
.idea
.mypy_cache
.venv
venv
.env
node_modules
opencti-platform/opencti-graphql/config/schema/compiled.graphql
.vscode
opencti-platform/opencti-graphql/config/schema/compiled.graphql
*.crt
*.key
docker/default*.json
