requests~=2.26.0
PyYAML~=5.4
setuptools~=58.0.0
datefinder~=0.7
stix2~=2.1.0
pika~=1.2
sseclient~=0.0.27
python_json_logger~=2.0.2
python-magic~=0.4.24; sys_platform == 'linux' or sys_platform == 'darwin'
python-magic-bin~=0.4.14; sys_platform == 'win32'
prometheus-client~=0.11.0
