requests==2.25.0
PyYAML==5.3.1
setuptools==51.0.0
python-dateutil==2.8.1
datefinder==0.7.1
stix2==2.1.0
pytz==2020.4
pika==1.1.0
sseclient==0.0.27
black==20.8b1
python-magic==0.4.18; sys_platform == 'linux' or sys_platform == 'darwin'
python-magic-bin==0.4.14; sys_platform == 'win32'
