---
opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'
  json_logging: true

worker:
  log_level: 'info'
  telemetry_enabled: false
  targeted_connector_types: ['ANY'] # If not configured, or configured with 'ANY', all connectors will be targeted. Otherwise, only target connector types will be processed