worker:
  type: 'import' # import or export
  log_level: 'info'

opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

rabbitmq:
  hostname: 'localhost'
  port: 5672
  port_management: 15672
  management_ssl: False
  username: 'guest'
  password: 'guest'
