# Filigran
datefinder~=0.7.3
pika~=1.3.0
python-magic~=0.4.27; sys_platform == 'linux' or sys_platform == 'darwin'
python-magic-bin~=0.4.14; sys_platform == 'win32'
python_json_logger~=3.3.0
PyYAML~=6.0
pydantic>=2.8.2, <3
requests>=2.32.0, <3
setuptools~=80.9.0
cachetools~=5.5.2
prometheus-client~=0.22.1
opentelemetry-api~=1.35.0
opentelemetry-sdk~=1.35.0
deprecation~=2.1.0
fastapi>=0.115.2, <1
uvicorn[standard]>=0.38.0,<0.39.0
# OpenCTI
filigran-sseclient>=1.0.2
stix2~=3.0.1
