black==26.1.0
build==1.4.0
isort==8.0.0
pre-commit==4.5.0
pytest==8.4.1
pytest-cases==3.9.1
pytest-cov==7.0.0
pytest_randomly==4.0.1
types-python-dateutil==2.9.0
types-pytz==2025.2.0.20250326
wheel==0.46.3
pyjwt[crypto]==2.11.0
