/* scroll-section */
.scroll-bg{
    background:rgba(6,16,45,255);
    width:100%;
    color:white;
    padding:10px 5px 10px 15px;
    border-radius:5px;
    line-height: 20px;
}
.scroll-div{
  width:100%;
  background:rgba(6,16,45,255);
  height:78px;
  overflow:hidden;
  overflow-y: scroll;
}
.scroll-object{
  color:white;
  font-family:sans-serif;
  padding:0px;
  text-align:left;
  
}
.scroll-div::-webkit-scrollbar{
  width:4px;
  height: 41px;
}
.scroll-div::-webkit-scrollbar-track{
  border-radius:5px;
  background: transparent !important;
}
.scroll-div::-webkit-scrollbar-thumb{
  border-radius:5px;
  background-color:#6a6f72;
  border:none;
}


/* External Ref */
.css-12rl710-MuiPaper-root-MuiDialog-paper{
  background-color: transparent !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}