* {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
}

svg {
  overflow: visible !important;
}

:focus {
  outline: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-animation: autofill 0s forwards;
  animation: autofill 0s forwards;
  -webkit-text-fill-color: #fff !important;
  caret-color: transparent !important;
  -webkit-box-shadow: 0 0 0 1000px rgba(4, 8, 17, 0.88) inset !important;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

@keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

@-webkit-keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

a,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
}

a {
  color: #00bcd4;
}

a .MuiListItemText-primary {
  color: #ffffff;
}

pre {
  padding: 10px;
  font-family: Consolas, monaco, monospace;
  font-size: 12px;
  background: rgba(64, 193, 255, 0.2);
  border-radius: 5px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  font-weight: 400;
}

code {
  font-family: Consolas, monaco, monospace;
  padding: 3px;
  font-size: 12px;
  font-weight: 400;
  background: rgba(64, 193, 255, 0.2);
}

span.icon {
  font-family: "Roboto", sans-serif;
  display: block;
  float: right;
  padding: 2px 0 0 0;
  color: #00bcd4;
  font-weight: 400;
}

span.red {
  color: #f44336;
}

span.green {
  color: #4caf50;
}

span.teal {
  color: #80cbc4;
}

span.raw {
  white-space: pre-line;
}

ul.rc-tree {
  margin: 0;
  padding: 0;
}

ul.rc-tree li {
  list-style-type: none;
  vertical-align: middle;
}

div.clearfix {
  margin: 0;
  padding: 0;
  clear: both;
}

div.break {
  word-break: break-word;
}

.recharts-legend-item-text,
.recharts-polar-angle-axis-tick-value,
.recharts-text,
.recharts-layer {
  font-size: 11px;
  font-family: Roboto, sans-serif;
}

.recharts-cartesian-axis-tick {
  font-size: 10px;
  font-family: Roboto, sans-serif;
}

div.markdown p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fakeItem {
  display: inline-block;
  position: relative;
  height: 1em;
  font-size: 13px;
  background: #4f4f4f;
  overflow: hidden;
}

.fakeItem:after {
  overflow: hidden;
  width: 50%;
  height: 100%;
  content: "";
  position: absolute;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.18),
    rgba(0, 0, 0, 0)
  );
  transform: translateX(-100%);
  animation: loading 1s infinite;
}

div.srd-node {
  border: none !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  box-sizing: content-box !important;
  border-radius: 10px !important;
  background: none !important;
}

div.srd-port {
  z-index: 0 !important;
  background-color: transparent !important;
  width: 100% !important;
  height: 100% !important;
}

div.srd-port:hover {
  background-color: transparent !important;
}

.srd-default-link-marker {
  fill: rgb(165,165,165) !important;
}

.srd-default-link--path-inferred {
  stroke: #607d8b !important;
  stroke-dasharray: 10, 2;
}

.srd-default-link__label {
  overflow: visible;
}
