OPENCTI_ADMIN_EMAIL=admin@darklight.ai # Valid email address
OPENCTI_ADMIN_PASSWORD=ChangeMe # String - MUST CHANGE
OPENCTI_ADMIN_TOKEN=ChangeMe # Valid UUIDv4 - MUST CHANGE
RABBITMQ_DEFAULT_USER=guest # String
RABBITMQ_DEFAULT_PASS=guest # String
CONNECTOR_HISTORY_ID=ChangeMe # Valid UUIDv4
CONNECTOR_EXPORT_FILE_STIX_ID=ChangeMe # Valid UUIDv4
CONNECTOR_EXPORT_FILE_CSV_ID=ChangeMe # Valid UUIDv4
CONNECTOR_IMPORT_FILE_STIX_ID=ChangeMe # Valid UUIDv4
CONNECTOR_IMPORT_FILE_PDF_OBSERVABLES_ID=ChangeMe # Valid UUIDv4
SMTP_HOSTNAME=ChangeMe # String
OPENID_ISSUER=https://example.com/auth/realms/xxxx # URL
OPENID_CLIENT_ID=ChangeMe # String
OPENID_CLIENT_SECRET=ChangeMe # String
MOCKS=1  # change to 0 to disable the use of mock data
GRAPHQL_HOST=https://graphql.darklight.ai
REACT_APP_API_URL=https://ChangeMe.darklight.ai
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
