opencti:
  api_url: 'http://localhost:8080'
  api_key: 'REPLACE_API_KEY'
  verbose: true

grakn:
  hostname: 'localhost'
  port: 48555

elasticsearch:
  hostname: 'localhost'
  port: 9200

rabbitmq:
  hostname: 'localhost'
  port: 5672
  username: 'guest'
  password: 'guest'
