opencti:
  api_url: 'http://OPENCTI_HOSTNAME:OPENCTI_PORT'
  api_key: 'REPLACE_API_KEY'
  verbose: true

grakn:
  hostname: 'GRAKN_HOSTNAME'
  port: GRAKN_PORT

elasticsearch:
  hostname: 'ELASTICSEARCH_HOSTNAME'
  port: ELASTICSEARCH_PORT

rabbitmq:
  hostname: 'RABBITMQ_HOSTNAME'
  port: RABBITMQ_PORT
  username: 'RABBITMQ_USERNAME'
  password: 'RABBITMQ_PASSWORD'
