indexor:
  interval: 300

grakn:
  hostname: 'grakn'
  port: 48555

elasticsearch:
  hostname: 'elasticsearch'
  port: 9200

rabbitmq:
  hostname: 'opencti.io'
  port: 5672
  username: 'guest'
  password: 'guest'