dumper:
  file: './dump.gql'

opencti:
  api_url: 'http://opencti:OPENCTI_PORT'
  api_key: 'REPLACE_API_KEY'
  verbose: true

grakn:
  hostname: 'grakn'
  port: 48555

elasticsearch:
  hostname: 'elasticsearch'
  port: 9200

rabbitmq:
  hostname: 'rabbitmq'
  port: 5672
  username: 'guest'
  password: 'guest'
