* {
  scrollbar-width: thin;
}

#root{
  height: 100vh;
}

:focus {
  outline: 0;
}

input:-webkit-autofill {
  transition-delay: 9999s;
}

a,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
}

pre {
  padding: 10px;
  font-family: Consolas, monaco, monospace;
  font-size: 12px;
  border-radius: 4px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  font-weight: 400;
}

span.raw {
  white-space: pre-line;
}

ul.rc-tree {
  margin: 0;
  padding: 0;
}

ul.rc-tree li {
  list-style-type: none;
  vertical-align: middle;
}

div.clearfix {
  margin: 0;
  padding: 0;
  clear: both;
}

div.break {
  word-break: break-word;
}

/* region markdown */

div.markdown p {
  margin: 0 0 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.markdown p:last-child {
  margin: 0 !important;
}

/* .mde-preview .mde-preview-content table th, .mde-preview .mde-preview-content table td */
div.markdown table th, div.markdown table td {
  padding: 6px 13px;
  border: 1px solid #c8ccd0;
}
/* .mde-preview .mde-preview-content table */
div.markdown table {
  border-collapse: collapse;
}

/* end region markdown*/

.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.layout {
  max-width: 100%;
}

.force-graph-container {
  overflow: hidden !important;
}

.force-graph-container .graph-tooltip {
  position: absolute;
  text-align: center;
  overflow: hidden !important;
  transform: translate(-50%, 25px);
  font-size: 12px !important;
  padding: 8px !important;
  border-radius: 3px;
  color: #eee;
  background: rgba(0, 0, 0, 0.65);
  visibility: hidden; /* by default */
  display: block;
  unicode-bidi: embed;
  white-space: pre;
}

.timerange {
  width: 100%;
  height: 100%;
}

.react_time_range__rail__inner {
  background-color: transparent !important;
}

input[type="file"] {
  width: 100% !important;
}

.ck-powered-by {
  display: none !important;
}

.marker-yellow {
  background-color: rgb(255, 255, 0) !important;
}

.marker-blue, .flexible-marker-blue {
  background-color: rgb(15, 188, 255) !important;
}
