.idea
.env
build
dist
node_modules
public
config/development.json
config/production.json
config/test.json
config/local.json
config/development.demo.json
coverage
test-results
logs
yarn-error.log
__pycache__
