.idea
.env
.clinic
build
dist
node_modules
public
config/ssl
config/demo.json
config/development.json
config/development.json.bak
config/production.json
config/test.json
config/local.json
coverage
test-results
logs
yarn-error.log
__pycache__
