# EditorConfig for OpenCTI Java Client
# https://editorconfig.org

root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 150

# Java files
[*.java]
indent_size = 4
continuation_indent_size = 8

# XML files (pom.xml, etc.)
[*.xml]
indent_size = 4

# JSON files
[*.json]
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_size = 2

# Properties files
[*.properties]
indent_size = 4

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# Shell scripts
[*.sh]
indent_size = 2

# Batch files
[*.{bat,cmd}]
end_of_line = crlf

