name: Publish and deploy to staging

on:
  push:
    ## TODO Switch branches when ready to activate
    # branches: [master,release/current]
    branches: [issue/13571-build-images]

jobs:

  wf-build-image:
      name: Build and push alpine image
      uses: ./.github/workflows/ci-docker-build.yml
      with:
        ## TODO: Publish to docker.io public registry instead of filigran private
        # registry: "docker.io/opencti"
        image_tag: ${{ github.ref_name == 'master'  && 'rolling' || github.ref_name == 'release/current' && 'prerelease' }}
        is_client_python_local: true
        is_publish_to_registry: true
      secrets: inherit

  wf-build-fips-image:
      name: Build and push FIPS image
      uses: ./.github/workflows/ci-docker-build.yml
      with:
        ## TODO: Publish to docker.io public registry instead of filigran private
        # registry: "docker.io/opencti"
        image_tag: ${{ github.ref_name == 'master'  && 'rolling' || github.ref_name == 'release/current' && 'prerelease' }}
        is_client_python_local: true
        is_publish_to_registry: true
        is_fips: true
      secrets: inherit

  wf-publish-package:
      name: Publish OpenCTI platform packages
      uses: ./.github/workflows/cd-publish-package.yml
      with:
        is_publish_jfrog: ${{ github.ref_name == 'master' }}
        is_client_python_local: true

  deploy-staging:
    name: Deploy images on staging
    needs: wf-build-image
    runs-on: ubuntu-latest
    env:
      CONTROLLER_HOST: ${{ secrets.AWX_URL }}
      CONTROLLER_USERNAME: ${{ secrets.AWX_USER }}
      CONTROLLER_PASSWORD: ${{ secrets.AWX_PASSWORD }}
    steps:
      - name: Install AWX CLI
        run: pip install awxkit

      - name: Deploy on testing
        if: ${{ github.ref_name == 'master' }}
        run: |
          awx job_templates launch 'Rollout restart an instance resources' --wait -f human \
            --inventory eu-west-staging \
            --extra_vars '{"customer":"testing","solution": "opencti" }'

      - name: Deploy on dev
        if: ${{ github.ref_name == 'master' }}
        run: |
          awx job_templates launch 'Rollout restart an instance resources' --wait -f human \
            --inventory eu-west-staging \
            --extra_vars '{"customer":"dev","solution": "opencti" }'

      - name: Deploy on prerelease CE
        if: ${{ github.ref_name == 'master' }}
        run: |
          awx job_templates launch 'Rollout restart an instance resources' --wait -f human \
            --inventory gcp-staging \
            --extra_vars '{"customer":"prerelease-ce","solution": "opencti" }'

      - name: Deploy on prerelease
        if: ${{ github.ref_name == 'release/current' }}
        run: |
          awx job_templates launch 'Rollout restart an instance resources' --wait -f human \
            --inventory aws-staging \
            --extra_vars '{"customer":"prerelease-aws","solution": "opencti" }'
