name: Build OpenCTI Platform and worker images

on:
  workflow_call:
    inputs:
      image_tag:
        description: "Image Tag"
        type: string
        default: ${{ github.sha }}
      checkout_ref:
        description: "Reference of the branch or commit sha"
        type: string
        default: ${{ github.sha }}
      dockerfile_platform:
        description: "Dockerfile"
        type: string
        required: false
        default: Dockerfile_featurebranch
      build_context_platform:
        description: "Build context"
        type: string
        required: false
        default: opencti-platform
      dockerfile_worker:
        description: "Dockerfile"
        type: string
        required: false
        default: Dockerfile_featurebranch
      build_context_worker:
        description: "Build context"
        type: string
        required: false
        default: opencti-worker
    outputs:
      image-tag-version-cleaned:
        description: "Image tag after formatting"
        value: ${{ jobs.build-opencti-platform.outputs.version }}
      image-tag-cleaned:
        description: "Image tags including image name after formatting"
        value: ${{ jobs.build-opencti-platform.outputs.tags }}

jobs:
  build-opencti-platform:
    name: Build OpenCTI Platform image
    runs-on: ubuntu-latest
    outputs:
      tags: ${{ steps.meta.outputs.tags }}
      version: ${{ steps.meta.outputs.version }}
    steps:
    - uses: actions/checkout@v6
      with:
        ref: ${{ inputs.checkout_ref }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      with:
        name: gha-builder-platform
    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: filigran/platform
        tags: type=raw,value=${{ inputs.image_tag }}
    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: ${{ inputs.build_context_platform }}
        file: opencti-platform/${{ inputs.dockerfile_platform }}
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        cache-from: type=registry,ref=filigran/platform:buildcache
        cache-to: type=registry,ref=filigran/platform:buildcache,mode=max

  build-opencti-worker:
    name: Build OpenCTI Worker image
    runs-on: ubuntu-latest
    outputs:
      tags: ${{ steps.meta.outputs.tags }}
      version: ${{ steps.meta.outputs.version }}
    steps:
    - uses: actions/checkout@v6
      with:
        ref: ${{ inputs.checkout_ref }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      with:
        name: gha-builder-worker
    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: filigran/worker
        tags: type=raw,value=${{ inputs.image_tag }}
    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: ${{ inputs.build_context_platform }}
        file: opencti-worker/${{ inputs.dockerfile_platform }}
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        cache-from: type=registry,ref=filigran/worker:buildcache
        cache-to: type=registry,ref=filigran/worker:buildcache,mode=max
