name: Build OpenCTI Platform and worker images

on:
  workflow_call:
    inputs:
      image_tag:
        description: "Image Tag"
        type: string
        default: ${{ github.sha }}
      checkout_ref:
        description: "Reference of the branch or commit sha"
        type: string
        default: ${{ github.sha }}
      dockerfile_target:
        description: "Target to build in the multi stage docker file - testing or app"
        type: string
        required: false
        default: app
      is_client_python_local:
        description: "Use client python from the same commit"
        type: boolean
        required: false
        default: false
      is_fips:
        description: "Build FIPS compliant images"
        type: boolean
        required: false
        default: false
      is_publish_to_registry:
        description: "Publish image to registry. If false, will save the image as github artifact"
        type: boolean
        required: false
        default: false
      registry:
        description: "Registry used to publish the image"
        type: string
        required: false
        default: "docker.io/filigran"
    outputs:
      image-tag-version-cleaned:
        description: "Image tag after formatting"
        value: ${{ jobs.build-opencti-platform.outputs.version }}
      image-tag-cleaned:
        description: "Image tags including image name after formatting"
        value: ${{ jobs.build-opencti-platform.outputs.tags }}

jobs:
  build-opencti-platform:
    name: Build OpenCTI Platform image
    runs-on: ubuntu-latest
    outputs:
      tags: ${{ steps.meta.outputs.tags }}
      version: ${{ steps.meta.outputs.version }}

    steps:
    - uses: actions/checkout@v6
      with:
        ref: ${{ inputs.checkout_ref }}

    - name: Use client-python in OpenCTI from same branch
      if: ${{ inputs.is_client_python_local == true }}
      run: sed -i 's|^pycti==.*$|pycti @ git+https://github.com/OpenCTI-Platform/opencti@${{ inputs.checkout_ref }}#subdirectory=client-python|' -i ./opencti-platform/opencti-graphql/src/python/requirements.txt

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      with:
        name: gha-builder-platform

    - name: Login to DockerHub
      if: inputs.is_publish_to_registry == true
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{ inputs.registry }}/platform
        tags: type=raw,value=${{ inputs.image_tag }}${{ inputs.is_fips == true && '-fips' || '' }}

    - name: Build and push ${{ inputs.is_fips == true && 'FIPS' || '' }}
      uses: docker/build-push-action@v6
      if: inputs.is_publish_to_registry == true
      with:
        context: opencti-platform
        file: opencti-platform/Dockerfile_featurebranch
        target: ${{ inputs.dockerfile_target }}
        build-args: "BASE_TYPE=${{ inputs.is_fips == true  && 'fips' || 'alpine' }}"
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}

    - name: Build and export as tar ${{ inputs.is_fips == true && ' FIPS' || '' }}
      uses: docker/build-push-action@v6
      if: inputs.is_publish_to_registry == false
      with:
        context: opencti-platform
        file: opencti-platform/Dockerfile_featurebranch
        target: ${{ inputs.dockerfile_target }}
        build-args: "BASE_TYPE=${{ inputs.is_fips == true  && 'fips' || 'alpine' }}"
        push: false
        outputs: 'type=docker,dest=/tmp/opencti-platform.tar'
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}

    - name: Upload opencti docker image artifact
      if: ${{ inputs.is_publish_to_registry == false }}
      uses: actions/upload-artifact@v6
      with:
        name: docker-image-opencti-platform
        path: /tmp/opencti-platform.tar
        retention-days: 7

  build-opencti-worker:
    name: Build OpenCTI Worker image
    runs-on: ubuntu-latest
    outputs:
      tags: ${{ steps.meta.outputs.tags }}
      version: ${{ steps.meta.outputs.version }}

    steps:
    - uses: actions/checkout@v6
      with:
        ref: ${{ inputs.checkout_ref }}

    - name: Use client-python in worker from same branch
      if: ${{ inputs.is_client_python_local == true }}
      run: sed -i 's|^pycti==.*$|pycti @ git+https://github.com/OpenCTI-Platform/opencti@${{ inputs.checkout_ref }}#subdirectory=client-python|' -i ./opencti-worker/src/requirements.txt

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      with:
        name: gha-builder-worker

    - name: Login to DockerHub
      if: inputs.is_publish_to_registry == true
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{ inputs.registry }}/worker
        tags: type=raw,value=${{ inputs.image_tag }}${{ inputs.is_fips == true  && '-fips' || '' }}

    - name: Build and push ${{ inputs.is_fips == true && 'FIPS' || '' }}
      uses: docker/build-push-action@v6
      if: inputs.is_publish_to_registry == true
      with:
        context: opencti-worker
        file: opencti-worker/Dockerfile
        build-args: "BASE_TYPE=${{ inputs.is_fips == true  && 'fips' || 'alpine' }}"
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}


    - name: Build and export as tar ${{ inputs.is_fips == true && ' FIPS' || '' }}
      uses: docker/build-push-action@v6
      if: inputs.is_publish_to_registry == false
      with:
        context: opencti-worker
        file: opencti-worker/Dockerfile
        build-args: "BASE_TYPE=${{ inputs.is_fips == true  && 'fips' || 'alpine' }}"
        push: false
        outputs: 'type=docker,dest=/tmp/opencti-worker.tar'
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}

    - name: Upload worker docker image artifact
      if: inputs.is_publish_to_registry == false
      uses: actions/upload-artifact@v6
      with:
        name: docker-image-opencti-worker
        path: /tmp/opencti-worker.tar
        retention-days: 7