name: Verify licenses

on:
  workflow_call:
    inputs:
      checkout_ref:
        description: "Reference of the branch or commit sha"
        type: string
        default: ${{ github.sha }}

jobs:
  license-check:
    name: License check
    runs-on: ubuntu-latest
    steps:
      - name: Simulate license check test
        continue-on-error: true
        run: echo "Simulate license check test"