name: OpenCTI CI
on:
  workflow_call:
    inputs:
      is_pr_merge:
        description: "Branch push or PR merge. Values branch | merge"
        type: boolean
        default: false

jobs:
  wf-build-image:
      name: Build image
      uses: ./.github/workflows/ci-docker-build.yml
      with:
        image_tag:  ${{ inputs.is_pr_merge }} && ${{ github.sha }}-${{ github.event.pull_request.number }} || ${{ github.sha }}
        checkout_ref: ${{ inputs.is_pr_merge }} && refs/pull/${{ github.event.pull_request.number }}/merge || ${{ github.sha }}
      secrets: inherit


  wf-api-test:
      name: API test
      uses: ./.github/workflows/ci-test-api.yml
      needs: wf-build-image
      secrets: inherit

  wf-frontend-test:
      name: Frontend test
      uses: ./.github/workflows/ci-test-frontend.yml
      secrets: inherit

  wf-client-python-test:
      name: Client Python
      uses: ./.github/workflows/ci-test-client-python.yml
      needs: wf-build-image
      secrets: inherit

  wf-license-check:
      name: License check
      uses: ./.github/workflows/ci-license-check.yml
      secrets: inherit