name: OpenCTI CI
on:
  workflow_dispatch:
  push:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  wf-build-image:
      name: Build image
      uses: ./.github/workflows/ci-docker-build.yml
      with:
        checkout_ref: ${{ github.event_name == 'pull_request'  && format('refs/pull/{0}/merge', github.event.pull_request.number) || github.sha }}
        dockerfile_platform: Dockerfile.testing
        build_context_platform: "."
        dockerfile_worker: Dockerfile.testing
        build_context_worker: "."
      secrets: inherit

## Required to pass artifact from a workflow to another
#  reupload-image-artifact:
#      needs: wf-build-image
#      runs-on: ubuntu-latest
#      steps:
#        - name: Download image worker
#          uses: actions/download-artifact@v4
#          with:
#            name: docker-image-opencti-worker
#            path: /tmp/opencti-worker.tar
#
#        - name: Re-upload image worker for next workflow
#          uses: actions/upload-artifact@v4
#          with:
#            name: docker-image-opencti-worker-shared
#            path: /tmp/opencti-worker.tar
#            retention-days: 1
#
#        - name: Download image platform
#          uses: actions/download-artifact@v4
#          with:
#            name: docker-image-opencti-platform
#            path: /tmp/opencti-platform.tar
#
#        - name: Re-upload image platform for next workflow
#          uses: actions/upload-artifact@v4
#          with:
#            name: docker-image-opencti-platform-shared
#            path: /tmp/opencti-platform.tar
#            retention-days: 1



  wf-api-test:
      name: API test
      uses: ./.github/workflows/ci-test-api.yml
      needs: wf-build-image
      with:
        checkout_ref: ${{ github.event_name == 'pull_request'  && format('refs/pull/{0}/merge', github.event.pull_request.number) || github.sha }}
      secrets: inherit
#
#  wf-frontend-test:
#      name: Frontend test
#      uses: ./.github/workflows/ci-test-frontend.yml
#      with:
#        checkout_ref: ${{ github.event_name == 'pull_request'  && format('refs/pull/{0}/merge', github.event.pull_request.number) || github.sha }}
#      secrets: inherit
#
#  wf-client-python-test:
#      name: Client Python
#      uses: ./.github/workflows/ci-test-client-python.yml
#      needs: reupload-image-artifact
#      with:
#        checkout_ref: ${{ github.event_name == 'pull_request'  && format('refs/pull/{0}/merge', github.event.pull_request.number) || github.sha }}
#      secrets: inherit
#
#  wf-license-check:
#      name: License check
#      uses: ./.github/workflows/ci-license-check.yml
#      with:
#        checkout_ref: ${{ github.event_name == 'pull_request'  && format('refs/pull/{0}/merge', github.event.pull_request.number) || github.sha }}
#      secrets: inherit
