name: OpenCTI CI
on:
  workflow_call:
  push:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  wf-build-image:
      name: Build image
      uses: ./.github/workflows/ci-docker-build.yml
      with:
        image_tag: ${{ github.event_name == 'pull_request' && format('{0}-{1}', github.sha, github.event.pull_request.number) || github.sha }}
        checkout_ref: ${{ github.event_name == 'pull_request'  && format('refs/pull/{0}/merge', github.event.pull_request.number) || github.sha }}
      secrets: inherit


  wf-api-test:
      name: API test
      uses: ./.github/workflows/ci-test-api.yml
      needs: wf-build-image
      secrets: inherit

  wf-frontend-test:
      name: Frontend test
      uses: ./.github/workflows/ci-test-frontend.yml
      secrets: inherit

  wf-client-python-test:
      name: Client Python
      uses: ./.github/workflows/ci-test-client-python.yml
      needs: wf-build-image
      secrets: inherit

  wf-license-check:
      name: License check
      uses: ./.github/workflows/ci-license-check.yml
      secrets: inherit