name: Run OpenCTI api tests

on:
  workflow_call:
    inputs:
      checkout_ref:
        description: "Reference of the branch or commit sha"
        type: string
        default: ${{ github.sha }}
      run-id:
        required: true
        type: string

jobs:
  run-opencti-integration-test:
    name: Integration tests
    runs-on: ubuntu-latest

    steps:
    - name: Simulate integration test
      continue-on-error: true
      run: echo "Simulate integration test"



  run-opencti-rules-test:
    name: Rules and Taxii tests
    runs-on: ubuntu-latest

    steps:
    - name: Simulate rules test
      continue-on-error: true
      run: echo "Simulate rules test"

  run-opencti-api-unit-test:
    name: Api unit tests
    runs-on: ubuntu-latest

    steps:
    - name: Simulate unit test
      continue-on-error: true
      run: echo "Simulate unit test"