name: Run Client Python - PyCti tests

on:
  workflow_call:
    inputs:
      checkout_ref:
        description: "Reference of the branch or commit sha"
        type: string
        default: ${{ github.sha }}

jobs:
  client-python-test:
    runs-on: ubuntu-latest
    name: pycti test - python ${{ matrix.python-version }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.9", "3.10", "3.11", "3.12" ]

    steps:
      - name: Simulate client python test
        continue-on-error: true
        run: echo "Simulate client python test"