name: Run OpenCTI api tests

on:
  workflow_call:
    inputs:
      checkout_ref:
        description: "Reference of the branch or commit sha"
        type: string
        default: ${{ github.sha }}
      run-id:
        required: true
        type: string

jobs:
  run-opencti-integration-test:
    name: Integration tests
    runs-on: ubuntu-latest

    steps:
    - name: OpenCTI checkout
      uses: actions/checkout@v6
      with:
        ref: ${{ inputs.checkout_ref }}

    - name: Runner information
      continue-on-error: true
      run: ./scripts/ci/runner-info.sh # Display runner info and start resource monitoring in background


    - name: Download image platform run id
      continue-on-error: true
      uses: actions/download-artifact@v4
      with:
        name: docker-image-platform-worker-shared
        path: /tmp/opencti-platform.tar
        run-id: ${{ inputs.run-id }}


    - name: Download image platform runid + secret
      continue-on-error: true
      uses: actions/download-artifact@v4
      with:
        name: docker-image-platform-worker-shared
        path: /tmp/opencti-platform.tar
        github-token: ${{ secrets.GITHUB_TOKEN }}
        run-id: ${{ inputs.run-id }}

    - name: Download image platform - simple
      continue-on-error: true
      uses: actions/download-artifact@v4
      with:
        name: docker-image-platform-worker-shared
        path: /tmp/opencti-platform.tar

    - name: Download image worker
      uses: actions/download-artifact@v4
      with:
        name: docker-image-opencti-worker-shared
        path: /tmp/opencti-worker.tar

    - name: Load image
      run: |
          set -eux
          docker load --input /tmp/opencti-platform.tar   
          docker load --input /tmp/opencti-worker.tar   
          docker images

    - name: Collect Workflow Telemetry
      uses: catchpoint/workflow-telemetry-action@v2

    - name: Set up Docker Compose for backends and sync instances
      run: |
         set -ex
         cd scripts/ci
         export TAG=${{ github.sha }}
         docker network create runner-docker-network
         docker compose  --profile "backend" --profile "ci-test-api-sync" up -d

    - name: Wait for OpenCTI sync instances to start
      run: |
          set -eux
          ./scripts/ci/wait-for-url-200.sh http://localhost:4100/health?health_access_key=cihealthkey 300 10
          ./scripts/ci/wait-for-url-200.sh http://localhost:4200/health?health_access_key=cihealthkey 180 10
          ./scripts/ci/wait-for-url-200.sh http://localhost:4300/health?health_access_key=cihealthkey 180 10
          ./scripts/ci/wait-for-url-200.sh http://localhost:4400/health?health_access_key=cihealthkey 180 10


    - name: Start api test
      run: |
        docker run --network runner-docker-network \
          --name api-tests \
          -p 4010:4100 \
          --env-file ${{ github.workspace }}/scripts/ci/ci-common.env \
          -e APP__BASE_URL=http://api-tests:4010/ \
          -e APP__ENTERPRISE_EDITION_LICENSE="${{ secrets.EE_LICENSE }}" \
          -e APP__SYNC_RAW_START_REMOTE_URI=http://opencti-raw-start:4100/graphql \
          -e APP__SYNC_LIVE_START_REMOTE_URI=http://opencti-live-start:4100/graphql \
          -e APP__SYNC_DIRECT_START_REMOTE_URI=http://opencti-direct-start:4100/graphql \
          -e APP__SYNC_RESTORE_START_REMOTE_URI=http://opencti-restore-start:4100/graphql \
          -e PYTHONUNBUFFERED=1  \
          filigran/platform:${{ github.sha }} \
          sh -c 'set -eux
            mkdir -p ../../opencti-connectors/stream/backup-files/src
            wget -O ../../opencti-connectors/stream/backup-files/src/backup-files.py https://raw.githubusercontent.com/OpenCTI-Platform/connectors/master/stream/backup-files/src/backup-files.py
            mkdir -p ../../opencti-connectors/external-import/restore-files/src
            wget -O ../../opencti-connectors/external-import/restore-files/src/restore-files.py https://raw.githubusercontent.com/OpenCTI-Platform/connectors/master/external-import/restore-files/src/restore-files.py
            NODE_OPTIONS=--max_old_space_size=8192 yarn test:ci-integration --coverage
        '

    - name: Upload backend test result
      uses: actions/upload-artifact@v5
      if: always()
      continue-on-error: true
      with:
        name: backend-test-results-integration
        path: ${{ github.workspace }}/opencti-platform/opencti-graphql/test-results
        retention-days: 15

    # Output all logs used during the job
    - name: Log backends (Minio, Elastic, RabbitMQ, Redis)
      if: always()
      continue-on-error: true
      run: |
          echo -e "\n\n ========== Logs Minio \n\n"; docker logs minio
          echo -e "\n\n ========== Logs Elastic search \n\n"; sleep 1; docker logs elasticsearch
          echo -e "\n\n ========== Logs RabbitMQ \n\n"; sleep 1; docker logs rabbitmq
          echo -e "\n\n ========== Logs Redis \n\n"; sleep 1; docker logs redis


    - name: Logs opencti-direct-start
      if: always()
      continue-on-error: true
      run: docker logs opencti-direct-start
    - name: Logs opencti-live-start
      if: always()
      continue-on-error: true
      run: docker logs opencti-live-start
    - name: Logs opencti-raw-start
      if: always()
      continue-on-error: true
      run: docker logs opencti-raw-start
    - name: Logs opencti-restore-start
      if: always()
      continue-on-error: true
      run: docker logs opencti-restore-start
    - name: Logs opencti-direct-worker
      if: always()
      continue-on-error: true
      run: docker logs opencti-direct-worker
    - name: Logs opencti-test-worker
      if: always()
      continue-on-error: true
      run: docker logs opencti-test-worker

    - name: Print resources stats
      if: always()
      continue-on-error: true
      run: cat runner_resource_stat.log

  run-opencti-rules-test:
    name: Rules and Taxii tests
    runs-on: ubuntu-latest

    steps:
    - name: OpenCTI checkout
      uses: actions/checkout@v6

    - name: Runner information
      continue-on-error: true
      run: ./scripts/ci/runner-info.sh # Display runner info and start resource monitoring in background

    - name: Download image platform
      uses: actions/download-artifact@v4
      with:
        name: docker-image-platform-worker-shared
        path: /tmp/opencti-platform.tar
    - name: Download image worker
      uses: actions/download-artifact@v4
      with:
        name: docker-image-opencti-worker-shared
        path: /tmp/opencti-worker.tar

    - name: Load image
      run: |
          set -eux
          docker load --input /tmp/opencti-platform.tar   
          docker load --input /tmp/opencti-worker.tar   
          docker images
    - name: Collect Workflow Telemetry
      uses: catchpoint/workflow-telemetry-action@v2

    - name: Set up Docker Compose for backends and sync instances
      run: |
         set -ex
         cd scripts/ci
         export TAG=${{ github.sha }}
         docker network create runner-docker-network
         docker compose --profile "backend" --profile "ci-test-rules" up -d

    - name: Start rules test
      run: |
        docker run --network runner-docker-network \
          --name api-tests \
          -p 4010:4100 \
          --env-file ${{ github.workspace }}/scripts/ci/ci-common.env \
          -e APP__BASE_URL=http://api-tests:4010/ \
          -e APP__ENTERPRISE_EDITION_LICENSE="${{ secrets.EE_LICENSE }}" \
          -e PYTHONUNBUFFERED=1  \
          filigran/platform:${{ github.sha }} \
          sh -c 'set -eux
            NODE_OPTIONS=--max_old_space_size=8192 yarn test:ci-rules-and-others --coverage
        '

    # Output all logs used during the job
    - name: Log backends (Minio, Elastic, RabbitMQ, Redis)
      if: always()
      continue-on-error: true
      run: |
          echo -e "\n\n ========== Logs Minio \n\n"; docker logs minio
          echo -e "\n\n ========== Logs Elastic search \n\n"; sleep 1; docker logs elasticsearch
          echo -e "\n\n ========== Logs RabbitMQ \n\n"; sleep 1; docker logs rabbitmq
          echo -e "\n\n ========== Logs Redis \n\n"; sleep 1; docker logs redis

    - name: Logs opencti-test-worker
      if: always()
      continue-on-error: true
      run: docker logs opencti-test-worker

    - name: Print resources stats
      if: always()
      continue-on-error: true
      run: cat runner_resource_stat.log

  run-opencti-api-non-integration-test:
    name: Unit and others tests
    runs-on: ubuntu-latest

    steps:
    - name: OpenCTI checkout
      uses: actions/checkout@v6

    - name: Runner information
      continue-on-error: true
      run: ./scripts/ci/runner-info.sh # Display runner info and start resource monitoring in background

    - name: Download image platform
      uses: actions/download-artifact@v4
      with:
        name: docker-image-platform-worker-shared
        path: /tmp/opencti-platform.tar
    - name: Download image worker
      uses: actions/download-artifact@v4
      with:
        name: docker-image-opencti-worker-shared
        path: /tmp/opencti-worker.tar

    - name: Load image
      run: |
          set -eux
          docker load --input /tmp/opencti-platform.tar   
          docker load --input /tmp/opencti-worker.tar   
          docker images

    - name: Set up Docker Compose for backends
      run: |
         set -ex
         cd scripts/ci
         docker network create runner-docker-network
         docker compose --profile "backend" up -d

    - name: Start unit  and linter
      run: |
        docker run --network runner-docker-network \
          --name unit-and-other-tests \
          -p 4010:4100 \
          --env-file ${{ github.workspace }}/scripts/ci/ci-common.env \
          -e APP__BASE_URL=http://unit-and-other-tests:4010/ \
          -e APP__ENTERPRISE_EDITION_LICENSE="${{ secrets.EE_LICENSE }}" \
          -e PYTHONUNBUFFERED=1  \
          filigran/platform:${{ github.sha }} \
          sh -c 'set -eux
            yarn check-ts
            yarn lint
            NODE_OPTIONS=--max_old_space_size=8192  yarn test:ci-unit --coverage
        '

    # Output all logs used during the job
    - name: Log backends (Minio, Elastic, RabbitMQ, Redis)
      if: always()
      continue-on-error: true
      run: |
          echo -e "\n\n ========== Logs Minio \n\n"; docker logs minio
          echo -e "\n\n ========== Logs Elastic search \n\n"; sleep 1; docker logs elasticsearch
          echo -e "\n\n ========== Logs RabbitMQ \n\n"; sleep 1; docker logs rabbitmq
          echo -e "\n\n ========== Logs Redis \n\n"; sleep 1; docker logs redis

    - name: Print resources stats
      if: always()
      continue-on-error: true
      run: cat runner_resource_stat.log
