name: OpenCTI CI GitHub hosted api-test
on:
  workflow_dispatch:
  push:
    branches:
      - oob/ci-migrate-to-gh

jobs:
  wf-build-opencti:
      uses: ./.github/workflows/opencti-docker-build.yml
      with:
        image_tag: ${{ github.sha }}
      secrets: inherit

  wf-api-test:
      uses: ./.github/workflows/opencti-test-api.yml
      needs: wf-build-opencti
      secrets: inherit

  wf-frontend-test:
      uses: ./.github/workflows/opencti-test-frontend.yml
      secrets: inherit

