name: Deploy feature branch on staging
on:
  workflow_dispatch:
    inputs:
      octi_config:
        description: Env var to use in front deployment
        type: string
        default: '{}'
        required: false
      upgrade_from_58:
        description: Whether to upgrade from 5.8
        type: boolean
        required: false
        default: false
      redis_cluster:
        description: Redis cluster (sentinel) ?
        type: boolean
        required: false
        default: false

jobs:
  wf-build-image:
      name: Build image
      uses: ./.github/workflows/ci-docker-build.yml
      with:
        image_tag: ${{ github.ref_name }}
      secrets: inherit

  deploy:
    name: deploy
    needs: wf-build-image
    runs-on: ubuntu-latest
    steps:
      - run: if [ "${{ inputs.upgrade_from_58 }}" == "true" ]; then ID=67; else ID=66; fi; echo "AWX_TPL_ID=$ID" >> "$GITHUB_ENV"

      - name: Install AWX cli
        run: pip install awxkit

      - name: Deploy feature environment via AWX
        run: |
          awx --conf.host ${{ secrets.AWX_URL }} \
            --conf.username ${{ secrets.AWX_USER }} \
            --conf.password ${{ secrets.AWX_PASSWORD }} \
            job_templates launch 'Deploy OpenCTI feature branch for testing' \
            --wait \
            --inventory eu-west-staging \
            --extra_vars '{"octi_version":"${{ needs.wf-build-image.outputs.image-tag-version-cleaned }}","octi_config": ${{ inputs.octi_config }},"redis_cluster":"${{ inputs.redis_cluster }}"}' \
            -f human
      - name: Forge URL to match playbook limitations
        id: urlforge
        run: |
          url=$(echo "${{ needs.wf-build-image.outputs.image-tag-version-cleaned }}" | cut -c 1-15 | sed 's/[_.]/-/g' | sed 's/-*$//')
          echo "url=$url" >> $GITHUB_OUTPUT
      - name: display URL
        run: echo "https://feat-${{steps.urlforge.outputs.url}}.octi.staging.filigran.io"
