name: test-feature-branch 
on:
  workflow_dispatch:
    inputs:
      octi_config:
        type: string
        default: '{}'
        required: false
      upgrade_from_58:
        description: Whether to upgrade from 5.8
        type: boolean
        required: false
        default: false
      redis_cluster:
        description: Redis cluster (sentinel) ?
        type: boolean
        required: false
        default: false

jobs:
  worker:
    name: build-worker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: filigran/worker
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
      - name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: opencti-worker
          file: opencti-worker/Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
  platform:
    name: build-platform
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: filigran/platform
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
      - name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: opencti-platform
          file: opencti-platform/Dockerfile_featurebranch
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  deploy:
    name: deploy
    needs: [platform, worker]
    runs-on: ubuntu-latest
    steps:
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: filigran/platform
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
      - run: if [ "${{ inputs.upgrade_from_58 }}" == "true" ]; then ID=67; else ID=66; fi; echo "AWX_TPL_ID=$ID" >> "$GITHUB_ENV"

      - name: Install AWX cli
        run: pip install awxkit

      - name: Deploy feature environment via AWX
        run: |
          awx --conf.host ${{ secrets.AWX_URL }} \
            --conf.username ${{ secrets.AWX_USER }} \
            --conf.password ${{ secrets.AWX_PASSWORD }} \
            job_templates launch 'Deploy OpenCTI feature branch for testing' \
            --wait \
            --inventory eu-west-staging \
            --extra_vars '{"octi_version":"${{steps.meta.outputs.version}}","octi_config": ${{ inputs.octi_config }},"redis_cluster":"${{ inputs.redis_cluster }}"}' \
            -f human
      - name: Forge URL to match playbook limitations
        id: urlforge
        run: |
          url=$(echo "${{steps.meta.outputs.version}}" | cut -c 1-15 | sed 's/[_.]/-/g' | sed 's/-*$//')
          echo "url=$url" >> $GITHUB_OUTPUT
      - name: display URL
        run: echo "https://feat-${{steps.urlforge.outputs.url}}.octi.staging.filigran.io"
